/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
}

body {
  margin-inline: auto;
  background-color: var(--spring-wood50);
}

/* colors */
:root {
  --red700: #e60000;
  --red800: #af0505;
  --mine-shaft50: #f6f6f5;
  --mine-shaft100: #e7e7e6;
  --mine-shaft300: #b1b0af;
  --mine-shaft900: #3d3d3c;
  --mine-shaft950: #2b2b2a;
  --spring-wood50: #f9f6f2;
}

/* margins/paddings & fonts */
:root {
  /* mobil */
  --s: 20px;
  --m: 40px;
  --l: 105px;

  /* desktop */
  --S: 55px;
  --M: 110px;
  --L: 146px;
}

h1 {
  font-family: "oswald", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

h2 {
  font-family: "oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

h3 {
  font-family: futura-pt, sans-serif;
  font-weight: bold;
}

p {
  font-family: futura-pt, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 200;
}

a {
  font-family: "oswald", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s ease;
}

a:hover {
  transition: 0.6s ease;
}

.red {
  color: var(--red700);
  font-weight: 500;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p,
  a {
    font-size: 1.1rem;
    line-height: 1.6rem;
    max-width: 65ch;
  }
}

/* line divider */
.line {
  width: 1px;
  height: 30px;
  background-color: var(--mine-shaft300);
}

/* hover effects */
.grow {
  transition: 1s ease;
}

.grow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

svg:hover {
  transition: color 0.6s ease;
  color: var(--red700);
}
