---
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import Kanku from "../components/Kanku.astro";
---

<Layout title="Kontakt" meta="Kontakt RKOS og hør mere om karate og selvforsvar, vi står klar til at besvare dine spørgsmål.">
  <!-- components -->
  <article class="grid_1-1">
    <div class="contact-container">
      <div class="text">
        <h1>Har du spørgmål?</h1>
        <p>Har du spørgsmål, eller er du nysgerrig på, om karate og selvforsvar er noget for dig? Uanset om du er begynder, forælder til et nysgerrigt barn, eller allerede har erfaring, er du altid velkommen til at skrive eller ringe til os!</p>
      </div>
      <div class="contact">
        <a class="icon-text" href="mailto:rkos2020@outlook.dk">
          <svg width="40" height="40" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.1638 4.85022V8.08214L2.99121 14.7049V42.1498H43.6816V14.7049L33.509 8.08214V4.85022H13.1638ZM16.5547 8.24109H30.1182V21.2747L23.3364 25.6723L16.5547 21.2747V8.24109ZM18.2501 11.632V15.0228H28.4227V11.632H18.2501ZM13.1638 12.1088V19.0495L7.8126 15.6056L13.1638 12.1088ZM33.509 12.1088L38.8602 15.6056L33.509 19.0495V12.1088ZM18.2501 16.7183V20.1091H28.4227V16.7183H18.2501ZM6.38208 18.7316L23.3364 29.6989L40.2908 18.7316V38.7589H6.38208V18.7316Z" fill="currentColor"></path>
          </svg>
          <div>
            <p>EMAIL</p>
            <b class="red">rkos2020@outlook.dk</b>
          </div>
        </a>
        <a class="icon-text" href="tel:+4526196648">
          <svg width="38" height="38" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24.3497 0.651489V3.61302C27.2789 3.61302 30.0231 4.3534 32.5823 5.83416C35.0181 7.28408 36.9606 9.22758 38.4098 11.6647C39.8898 14.2252 40.6298 16.9707 40.6298 19.9014H43.5898C43.5898 16.4155 42.7111 13.1763 40.9536 10.1839C39.2577 7.28408 36.9606 4.98581 34.0623 3.2891C31.0714 1.53069 27.8339 0.651489 24.3497 0.651489ZM9.04081 5.09378C8.20831 5.09378 7.48372 5.356 6.86705 5.88044L2.10326 10.7392L2.24201 10.6466C1.47117 11.2945 0.962416 12.0966 0.715748 13.0529C0.499912 14.0092 0.56158 14.9347 0.900749 15.8293C1.76409 18.2356 2.92035 20.7035 4.36953 23.2331C6.40454 26.7191 8.82498 29.8503 11.6308 32.6267C16.1325 37.1616 21.7288 40.7401 28.4197 43.3623H28.466C29.3601 43.6708 30.2543 43.7325 31.1485 43.5474C32.0735 43.3623 32.8906 42.9612 33.5998 42.3443L38.2711 37.6706C38.8877 37.0536 39.1961 36.2978 39.1961 35.4032C39.1961 34.4777 38.8877 33.7065 38.2711 33.0895L32.2123 26.9813C31.5956 26.3643 30.8247 26.0558 29.8997 26.0558C28.9747 26.0558 28.2039 26.3643 27.5872 26.9813L24.6734 29.9429C22.3301 28.8323 20.2951 27.4595 18.5684 25.8245C16.8417 24.1586 15.4696 22.138 14.4521 19.7626L17.4121 16.8011C18.0596 16.1224 18.3834 15.3203 18.3834 14.3948C18.3834 13.4385 18.0134 12.6673 17.2734 12.0811L17.4121 12.22L11.2146 5.88044C10.5979 5.356 9.87332 5.09378 9.04081 5.09378ZM24.3497 6.57455V9.53607C26.2305 9.53607 27.9572 9.99881 29.5297 10.9243C31.1331 11.8498 32.3973 13.1146 33.3223 14.7187C34.2473 16.2921 34.7098 18.0196 34.7098 19.9014H37.6698C37.6698 17.4952 37.0685 15.2586 35.866 13.1917C34.6635 11.1865 33.0602 9.58235 31.056 8.37923C28.9901 7.17611 26.7547 6.57455 24.3497 6.57455ZM9.04081 8.05531C9.13332 8.05531 9.24123 8.10158 9.36457 8.19413L15.4234 14.3948C15.4542 14.5182 15.4234 14.6262 15.3309 14.7187L10.9371 19.0685L11.2608 19.994L11.8621 21.2896C12.3554 22.3385 12.9258 23.3565 13.5734 24.3437C14.4675 25.7319 15.4542 26.9196 16.5334 27.9068C17.9826 29.3259 19.7247 30.6215 21.7597 31.7938C22.7772 32.3799 23.6405 32.8118 24.3497 33.0895L25.2747 33.5059L29.761 29.0174C29.8226 28.9557 29.8689 28.9248 29.8997 28.9248C29.9306 28.9248 29.9768 28.9557 30.0385 29.0174L36.2823 35.2643C36.344 35.326 36.3748 35.3723 36.3748 35.4032C36.3748 35.4032 36.344 35.434 36.2823 35.4957L31.6572 40.0768C30.9789 40.663 30.2389 40.8172 29.4372 40.5396C23.1472 38.1025 17.9055 34.7708 13.7121 30.5444C11.1221 27.9531 8.85581 25.007 6.9133 21.7061C5.52579 19.3307 4.44661 17.0324 3.67577 14.8113V14.765C3.55244 14.4874 3.53702 14.1635 3.62952 13.7933C3.72202 13.3922 3.89161 13.0837 4.13828 12.8678L8.71706 8.19413C8.80956 8.10158 8.91748 8.05531 9.04081 8.05531ZM24.3497 12.4976V15.4591C25.583 15.4591 26.6314 15.891 27.4947 16.7548C28.3581 17.6186 28.7897 18.6675 28.7897 19.9014H31.7497C31.7497 18.5749 31.4106 17.3409 30.7322 16.1995C30.0847 15.0581 29.1906 14.1635 28.0497 13.5156C26.9089 12.8369 25.6755 12.4976 24.3497 12.4976Z"
              fill="currentColor"></path>
          </svg>
          <div>
            <p>TLF NR.</p>
            <b class="red">26196648</b>
          </div>
        </a>
      </div>
    </div>
    <div class="form-container">
      <h2>Tilmeld dig den gratis prøvemåned!</h2>
      <p>Udfyld formularen herunder, så kontakter vi dig hurtigst muligt.</p>
      <form action="/tak">
        <label for="fullname"></label>
        <input type="text" id="fullname" name="fullname" placeholder="Fulde navn *" required />

        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Email *" required />

        <label for="phone"></label>
        <input type="tel" id="phone" name="nummer" placeholder="Telefonnummer" />

        <label for="subject"></label>
        <textarea id="subject" name="subject" placeholder="Besked *" required></textarea>

        <button type="submit" value="Submit">SEND</button>
      </form>
    </div>
    <div class="quote">
      <p>"Det første skridt mod styrke er at turde række ud."</p>
    </div>
  </article>
  <Map />
  <Kanku />
</Layout>

<style>
  .grid_1-1 {
    padding: var(--m);
  }

  .text {
    max-width: 574px;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--m) 0;
    gap: 11px;
  }

  .icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icon-text p {
    font-size: 0.8em;
    font-family: futura-pt, sans-serif;
    color: var(--mine-shaft950);
    font-weight: 400;
    transition: 0.6s ease;
  }

  .red {
    color: var(--red700);
    font-weight: 500;
    text-transform: none;
    font-family: futura-pt, sans-serif;
  }

  .form-container {
    background-color: var(--mine-shaft100);
    padding: var(--s) var(--m) var(--m);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: var(--s) 0 var(--s) 0;
  }

  input,
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--mine-shaft300);
    font-family: futura-pt, sans-serif;
    font-size: 0.8rem;
  }

  button {
    align-self: center;
    background-color: var(--red700);
    color: var(--spring-wood50);
    border-radius: 10rem;
    padding: 1rem;
    display: block;
    text-align: center;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
    font-family: "oswald", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-top: var(--s);
  }

  button:hover {
    background-color: var(--mine-shaft950);
    color: var(--spring-wood50);
    transition: 0.6s ease;
  }

  svg {
    color: var(--mine-shaft950);
    transition: 0.6s ease;
  }

  svg:hover,
  .icon-text p:hover {
    transition: 0.6s ease;
    color: var(--red700);
  }

  .quote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    padding: var(--m);
    grid-column: span 2;
  }

  h2 {
    margin-bottom: 3px;
  }

  @media (min-width: 900px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: var(--M) var(--L) var(--S) var(--L);
    }

    .contact {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      margin: var(--S) 0 0;
    }

    .icon-text {
      font-size: 1rem;
    }

    .form-container {
      margin-left: var(--S);
    }

    form {
      margin: var(--s) 0 var(--S) 0;
    }

    input,
    textarea {
      font-size: 1rem;
    }

    button {
      width: 300px;
    }

    .icon-text p {
      font-size: 1.1rem;
    }

    .quote {
      padding: var(--M);
    }
  }
</style>
