---
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import SolidButton from "../components/SolidButton.astro";
import Kanku from "../components/Kanku.astro";
---

<Layout title="Tak!" meta="Tak for din tilmelding til gratis prøvemåned. Vi kontakter dig hurtigst muligt med information.">
  <article>
    <h1>TAK FOR DIN TILMELDING!</h1>
    <h2>Vi har modtaget din tilmelding og glæder os til at hjælpe dig godt i gang.</h2>
    <p>
      En af vores medarbejdere vil kontakte dig hurtigst muligt med alle nødvendige oplysninger, så du kan få mest muligt ud af din prøveperiode. <br class="break" /><br />Hvis du har spørgsmål, er du altid velkommen til at skrive til os på <a href="mailto:rkos2020@outlook.dk">rkos2020@outlook.dk</a> eller ringe på
      <b class="number">26 19 66 48</b>.
    </p>
    <div class="button">
      <SolidButton variant="red-black" text="Tilbage til forsiden" page="forside" link="/" />
    </div>
  </article>

  <Kanku />
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: var(--S) var(--l) var(--s) var(--l);
  }

  h2 {
    margin-bottom: var(--s);
  }

  :global(p a),
  .number {
    font-family: futura-pt, sans-serif;
    color: var(--red700);
    text-transform: none;
    font-weight: 700;
  }

  p {
    text-align: left;
  }

  .button {
    width: 200px;
    align-self: center;
    margin-top: var(--m);
  }

  @media (min-width: 900px) {
    article {
      margin: var(--M) var(--L) 0 var(--L);
    }

    p {
      text-align: center;
      margin: 0 auto;
    }

    .break {
      display: none;
    }

    .button {
      width: 300px;
    }
  }
</style>
